.home-secondary{
  color: map-get($colors, secondary);
  font-weight: 200;
  font-size: 1.2em;
}
.home-title{
  font-weight: 200;
  font-size: 1.2em;
}

.center-content{
  text-align: center;
}
.top-20-per-m{
  margin-top: 15%;
}
